[user]
name = "Patrick Mooney"
email = "pmooney@pfmooney.com"

[snapshot]
auto-track = "none()"

[ui]
pager = "less -d -r -F --redraw-on-quit"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
conflict-marker-style = "git"
default-command = "log"

[colors]
commit_id = "bright blue"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[aliases]
ds = ["diff", "--stat"]
#tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "closest_pushable(@)"]
tug = ["util", "exec", "--", "sh", "-c", """
if [ "x$1" = "x" ]; then
  jj bookmark move --from "closest_bookmark(@)" --to "closest_pushable(@)"
else
  jj bookmark move --to "closest_pushable(@)" "$@"
fi
""", ""]

[templates]
# 6a6a636c is hex("jjcl")
draft_commit_description = '''
concat(
  description,
  if(
    !description.contains("Change-Id: I"),
    "\n\n" ++ "JJ: Change-Id: I6a6a636c" ++ change_id.normal_hex() ++ "\n",
  ),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.summary()),
  ),
)
'''
