[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "node/nvm"]
	path = node/nvm
	url = https://github.com/creationix/nvm.git
